.titulo-tecnologias h3 {
    text-align: center;
    font-size: 3rem;
    margin: 100px auto 10px auto;
  }

  .swiper {
    margin-top: 20px;
    width: 700px;
    height: 370px;
  }
  
  .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .swiper-slide img,
  .swiper-slide svg {
    margin: 0 auto;
    height: 200px;
 }

 .tailwind {
  height: 300px;
  width: 240px;
 }

 .swiper-slide p {
  font-size: 2rem;
  margin-bottom: 16px;
 }

 @media (max-width: 768px) {
  .swiper {
    width: 100%;
    height: 300px;
  }

  .tailwind {
    height: 300px;
    width: 210px;
   }

  .swiper-slide img,
  .swiper-slide svg {
    height: 150px;
  }

  .swiper-slide p {
    font-size: 1.5rem;
  }

}
